<div class="border-1 border-gray-400 rounded-xl !text-gray-600 flex flex-col p-2 gap-2">
    <div class="flex flex-row justify-between">
        <div class="flex flex-row items-center gap-4">
            <mat-icon class="scale-70" fontIcon="schedule" />
            <span class="text-sm">{{hourRange}}</span>
        </div>
        <div class="flex flex-row items-center gap-4">
            <mat-icon class="scale-70" fontIcon="date_range" />
            <span class="text-sm">{{dateRange}}</span>
        </div>
    </div>
    <div class="flex flex-row items-center gap-4">
        <mat-icon class="scale-70" fontIcon="article" />
        <span class="text-sm">{{reason}}</span>
    </div>
</div>